.graph svg { 
    border: 2px solid black ;
    font-family: 'Roboto', sans-serif;
}

.paper-body{
    font-family: 'Roboto', sans-serif;
}

h3{
    font-family: 'Roboto', sans-serif;
    text-decoration: underline;

}